.header {
  font-family: 'Oswald', sans-serif;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(192,184,171);
  color: rgb(83, 73, 61);
  cursor: pointer;
  z-index: 100;
}

.title {
  font-size: 70px;
  font-weight: 700;
  margin: 20px 0px;
}

@media(max-width: 670px){
  .title{
    font-size: 30px;
    margin: 20px 0px;
  }
}

#scroll-top-target{
  height: 20px;
  top: 0;
}