body {
  font-family: 'Cormorant Garamond', serif;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration:none;
}

a:visited{
  color: black;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
}